<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
		<link rel="stylesheet" href="../static/CSS/estilos.css">
	</head>
	<body>
		<header>
		<h1>MASCOTITAS</h1>
		<img class = portada1 src = ../static/images/portada2.jpg title = "Mascotitas" alt="Logo " width="250" height="230">
		<img class = portada src = ../static/images/petshop.png title = "Mascotitas" alt="Logo " width="750" height="230">
		<img class = portada2 src = ../static/images/portada3.jpg title = "Mascotitas" alt="Logo " width="250" height="230">
		</header>
		<nav>
		<ul type= "circle">
			<li><a href= "index.html" > Inicio </a></li>
			<li><a  href="productos.html">Productos</a></li>
			<li><a href="consejos de salud.html">Consejos de salud</a></li>
			<li><a href="paseos.html">Servicios de Paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contactanos</a></li>
		</ul>
		</nav>
		<h2>Consejos de Salud</h2>
		<section>
		
		<img src = ../static/images/consejosdesalud.jfif title = "Mascotitas" alt="Consejos de salud " width="900" height="300">
		<article>
		<h5> Programa Revisiones Veterinarias Periódicas:</h5>
		<p>Asegúrate de que tu mascota reciba chequeos veterinarios regulares. Las revisiones periódicas son clave para detectar y abordar problemas de salud antes de que se conviertan en mayores preocupaciones.</p>
		</article>
		<h5>Mantén un Peso Saludable</h5>
		<p>Controla la alimentación y el nivel de actividad para prevenir la obesidad en tu mascota. Un peso saludable contribuye a la longevidad y evita problemas de salud como la diabetes y las enfermedades articulares.</p>
		<article>
		<h5>Proporciona una Dieta Equilibrada</h5>
		<p>Ofrece a tu mascota una dieta equilibrada y adaptada a sus necesidades específicas. Consulta con tu veterinario para determinar la mejor alimentación según la raza, tamaño, edad y nivel de actividad de tu mascota.</p>
		</article>
		<h5> Ejercicio Regular</h5>
		<p>La actividad física es esencial para mantener a tu mascota en forma y feliz. Paseos diarios, tiempo de juego y actividades interactivas ayudan a prevenir la obesidad y promueven la salud cardiovascular.</p>
		<article>
		<h5>Control de Parásitos</h5>
		<p>Mantén a tu mascota libre de parásitos internos y externos. Usa productos antipulgas y garrapatas, y programa desparasitaciones regulares según las indicaciones de tu veterinario.</p>
		</article>
		<article>
		<h5>Monitorea el Comportamiento</h5>
		<p>Presta atención a los cambios en el comportamiento de tu mascota. La apatía, cambios en el apetito o en los patrones de sueño pueden ser signos de problemas de salud, y es importante abordarlos rápidamente.</p>
		</article>
		<article>
		<h5>Proporciona Agua Fresca y Limpia</h5>
		<p>Asegúrate de que tu mascota siempre tenga acceso a agua limpia y fresca. La hidratación adecuada es esencial para el buen funcionamiento de los órganos y el sistema circulatorio.</p>
		</article>
		</section>
	</body>
</html>