<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Contactos</title>
	</head>
	<body>
		<header>
		<img src = ../static/images/petshop.png title = "Mascotitas" alt="Logo " width="900" height="300">
		<h1>MASCOTITAS</h1>
		</header>
		<nav>
		<ul type= "circle">
			<li><a href= "index.html" > Inicio </a></li>
			<li><a  href="productos.html">Productos</a></li>
			<li><a href="consejos de salud.html">Consejos de salud</a></li>
			<li><a href="paseos.html">Servicios de Paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contactanos</a></li>
		</ul>
		</nav>
	<h1>Contáctenos!</h1>
	<p>3915 Av General Belgrano, 388-4999999</p>
	<p>Lunes a Viernes : 9:00 a. m. a 8:00 p. m.</p>
	<p>Sábado a Domingo : 9:00 a. m. a 12:30 p. m.</p>
	<a href= www.gmail.com> contactos@mail.com</a>
	<ul>
	<li> <a href= www.fceboook.com>Facebook </a></li>
	<li> <a href = www.instgram.com>Instagram</a></li>
	<li> <a href= www.twitter.com>Twitter</a></li>
	</ul>
	<hr/>
	<p>Nombre <input type="text"></p>
	<p>Email <input type="text"></p>
	<p>Ciudad <input type="text"></p>
	<p>Mensaje<input type="text" style="WIDTH: 228px; HEIGHT: 98px" size=32 > </p>
	<button>Enviar</button>
	</body>
</html>