<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Contactos</title>
		<link rel="stylesheet" href="../static/CSS/estilos.css">
	</head>
	<body class="contactos">
		<header>
		<h1>MASCOTITAS</h1>
		<img class = portada1 src = ../static/images/portada2.jpg title = "Mascotitas" alt="Logo " width="250" height="230">
		<img class = portada src = ../static/images/petshop.png title = "Mascotitas" alt="Logo " width="750" height="230">
		<img class = portada2 src = ../static/images/portada3.jpg title = "Mascotitas" alt="Logo " width="250" height="230">
		</header>
		<nav>
		<ul type= "circle">
			<li><a href= "index.html" > Inicio </a></li>
			<li><a  href="productos.html">Productos</a></li>
			<li><a href="consejos de salud.html">Consejos de salud</a></li>
			<li><a href="paseos.html">Servicios de Paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contactanos</a></li>
		</ul>
		</nav>
	<h2>Contáctenos!</h2>
		<br>
		<section class="con">
		<p class="pcontacto">3915 Av General Belgrano, 388-4999999</p>
		<p class="pcontacto">Lunes a Viernes : 9:00 a. m. a 8:00 p. m.</p>
		<p class="pcontacto">Sábado a Domingo : 9:00 a. m. a 12:30 p. m.</p>
		<a class ="acontactos" href= www.gmail.com> contactos@mail.com</a>
		<hr>
		<ul class="lista" >
		<li> <a class ="acontactos" href= www.fceboook.com>Facebook </a></li>
		<li> <a class ="acontactos" href = www.instgram.com>Instagram</a></li>
		<li> <a class ="acontactos" href= www.twitter.com>Twitter</a></li>
		</ul>
		<hr>
		<br>
		<p class="pcontacto">Nombre <input type="text" style="WIDTH: 384px; HEIGHT: 25px" ></p>
		<p class="pcontacto">Email : <input type="text" style="WIDTH: 390px; HEIGHT: 25px" ></p>
		<p class="pcontacto">Ciudad <input type="text" style="WIDTH: 390px; HEIGHT: 25px" ></p>
		<p class="pcontacto">Mensaje<input type="text" style="WIDTH: 390px; HEIGHT: 98px" size=32 > </p>
		<button>Enviar</button>
		</section>
	<footer class="footercontacto">Copyright 2024 - MASCOTITAS - Grupo 13 - Argentina</footer>
	</body>
</html>