<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layouts/head :: head ('contacto')}"></head>
	<body class="contactos">
		<header th:replace ="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
	<h2>Contáctenos!</h2>
		<br>
		<section class="con">
		<p class="pcontacto">3915 Av General Belgrano, 388-4999999</p>
		<p class="pcontacto">Lunes a Viernes : 9:00 a. m. a 8:00 p. m.</p>
		<p class="pcontacto">Sábado a Domingo : 9:00 a. m. a 12:30 p. m.</p>
		<a class ="acontactos" href= www.gmail.com> contactos@mail.com</a>
		<hr>
		<ul class="lista" >
		<li> <a class ="acontactos" href= www.fceboook.com>Facebook </a></li>
		<li> <a class ="acontactos" href = www.instgram.com>Instagram</a></li>
		<li> <a class ="acontactos" href= www.twitter.com>Twitter</a></li>
		</ul>
		<hr>
		<br>
		<form th:action="@{/contactos/guardarContacto}" th:object="${contacto}" method="post"> 
			<p class="pcontacto" >Nombre: <input type="text" id="nombreC" name="contacto_nombreC" th:field="*{nombreC}" style="WIDTH: 384px; HEIGHT: 25px" ></p>
			<p class="pcontacto">Email : <input type="text" id="correo" name="contacto_correo" th:field="*{correo}" style="WIDTH: 390px; HEIGHT: 25px" ></p>
			<p class="pcontacto">Ciudad <input type="text" id="ciudad" name="contacto_ciudad" th:field = *{ciudad} style="WIDTH: 390px; HEIGHT: 25px" ></p>
			<p class="pcontacto">Mensaje<input type="text" id="mensaje" name="contacto_mensaje" th:field="*{mensaje}" style="WIDTH: 390px; HEIGHT: 98px" size=32 > </p>
			<input type="submit" value="guardar">
		</form>
		</section>
		<a th:href="@{/contactos/listado}"> Lista de Contactos</a>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>