<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
	</head>
	<body>
		<header>
		<img src = ../static/images/petshop.png title = "Mascotitas" alt="Logo " width="900" height="300">
		<h1>MASCOTITAS</h1>
		</header>
		<nav>
		<ul type= "circle">
			<li>Inicio</li> 
			<li>Productos</li>
			<li>Consejos de salud</li>
			<li>Servicios de Paseos</li>
			<li>Sucursales</li>
			<li>Contactanos</li>
		</ul>
		</nav>
		<section>
			<article>
			<h2>Descubriendo el Propósito de Nuestra Tienda de Mascotas: Un Refugio para el Bienestar Animal</h2>
			<p>Bienvenidos a MASCOTITAS, un espacio dedicado al amor y cuidado de nuestras adoradas mascotas. En el corazón de nuestra misión se encuentra el compromiso inquebrantable de mejorar la calidad de vida de los animales y fortalecer el vínculo único que compartimos con ellos</p>
			</article>
			<article>
			<h2>Consejos y Recursos para Cuidadores Responsables</h2>
			<p>En nuestra página web, no solo encontrarás productos excepcionales, sino también valiosos recursos y consejos para cuidar de tu mascota de la mejor manera posible. Desde guías de entrenamiento hasta consejos de alimentación, nos esforzamos por ser un aliado confiable en el viaje de cuidado animal.</p>
			</article>
			<article>
			<h2>Diversidad para Todo Tipo de Amigos Peludos:</h2>
			<p>Sabemos que cada mascota es única, y es por eso que ofrecemos una amplia gama de productos adaptados a todas las formas, tamaños y personalidades. Ya sea que tenga un perro activo que ama correr y jugar o un gato que prefiere una tarde tranquila junto a la ventana, en [Nombre de la Tienda] encontrarás algo especial para cada uno.</p>
			</article>
		</section>
			<aside>
			<h3>Noticias de tu interés</h3>
			<p>Aprovecha ahora nuestro descuento del 30% en todos los productos. ¡No te pierdas esta oportunidad de ahorrar en tus compras!</p>
  			<p>Usa el código de descuento <strong>DESC30</strong> al finalizar tu compra.</p>
  			<h4>Nuevas Tendencias en Juguetes Interactivos para Gatos</h4>
  			<p>Exploramos las últimas innovaciones en juguetes para gatos que van más allá de las pelotas y ratones tradicionales. Los juguetes interactivos, algunos con tecnología incorporada, están en aumento, proporcionando estimulación mental y física para nuestros amigos felinos.</p>
			</aside>
		<footer>Copyright 2024 - MASCOTITAS - Grupo 13 - Argentina</footer>
	</body>
</html>