<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layouts/head :: head ('listadoproductos')}"></head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<br>
		<h2>Listado de Productos</h2>
		<table border="1">
			<tr>
				<th class="color">Producto</th>
				<th class="color">Codigo</th>
				<th class="color">Precio</th>
				<th class="color" >Categoria</th>
				<th class="color">Descuento</th>
				<th class="color">Accion</th>
			</tr>
			<tr th:each="prod: ${productos}">
				<th th:text="${prod.nombre}"></th>
				<th th:text="${prod.codigo}"></th>
				<th th:text= "${prod.precio}"></th>
				<th th:text="${prod.categoria}"></th>
				<th th:text="${prod.descuento}"></th>
				<td>
					<a class= "editar" th:href="@{/producto/modificar/}+${prod.codigo}">Editar</a>
					<a class= "editar" th:href="@{/producto/eliminar/}+${prod.codigo}">Eliminar</a>
				</td>
			</tr>
		</table>
		<a class="link" th:href="@{/producto/nuevo}"> Agregar Producto </a>
	</body>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
</html>