<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Nuevo Producto</title>
		<link rel="stylesheet" th:href="@{CSS/estilos.css}">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<form th:action="@{/guardar}" th:object="${producto}" method="post">
		<label>Nombre del Producto</label> <br>
		<input type="text" id="nombre" name="producto_nombre" th:field="*{nombre}"> <br>
		<label>Codigo del Producto</label> <br>
		<input type="text" id="codigo" name="codigo_producto" th:field="*{codigo}"> <br>
		<label>Precio del Producto</label> <br>
		<input type="text" id="precio" name="precio_producto" th:field="*{precio}"> <br>
		<label>Categoria del Producto</label> <br>
		<input type="text" id="categoria" name="categoria_producto" th:field="*{categoria}"> <br>
		<label>Descuento del Producto</label> <br>
		<input type="text" id="descuento" name="descuento_producto" th:field="*{descuento}"> <br>
		<input type="submit" value="guardar">
		</form>
	</body>
</html>