<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Servicio de Paseo</title>
		<link rel="stylesheet" href="../static/CSS/estilos.css">
	</head>
	<body>
		<header>
		<h1>MASCOTITAS</h1>
		<img class = portada1 src = ../static/images/portada2.jpg title = "Mascotitas" alt="Logo " width="250" height="230">
		<img class = portada src = ../static/images/petshop.png title = "Mascotitas" alt="Logo " width="750" height="230">
		<img class = portada2 src = ../static/images/portada3.jpg title = "Mascotitas" alt="Logo " width="250" height="230">
		</header>
		<nav>
		<ul type= "circle">
			<li><a href= "index.html" > Inicio </a></li>
			<li><a  href="productos.html">Productos</a></li>
			<li><a href="consejos de salud.html">Consejos de salud</a></li>
			<li><a href="paseos.html">Servicios de Paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contactanos</a></li>
		</ul>
		</nav>
		<h2 >Horarios de Paseos</h2>
		<section class="paseo">
		<table border="1">
		<tr>
		<td class="color">Día</td>
		<td class="color">Lunes</td>
		<td class="color" >Martes</td>
		<td class="color">Miercoles</td>
		<td class="color">Jueves</td>
		<td class="color">Viernes</td>
		<td class="color">Sabado </td>
		</tr>
		<tr>
		<td class="color">Horario</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		</tr>
		<tr>
		<td class="color">Paseador</td>
		<td>Juan Perez</td>
		<td>Lucas Diaz</td>
		<td>Juan Perez</td>
		<td>Maria Gomez</td>
		<td>Lucas Diaz</td>
		<td>Roberto Vasquez</td>
		</tr>
		</table>
		<p>                             </p>
		</section>
		<footer class="paseos">Copyright 2024 - MASCOTITAS - Grupo 13 - Argentina</footer>
	</body>
</html>