<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Servicio de Paseo</title>
		<link rel="stylesheet" th:href="@{CSS/estilos.css}">
	</head>
	<body>
		<header th:replace="layouts/header :: header"></header>
		<nav th:replace="layouts/nav :: nav"></nav>
		<h2 >Horarios de Paseos</h2>
		<section class="paseo">
		<table border="1">
		<tr>
		<td class="color">Día</td>
		<td class="color">Lunes</td>
		<td class="color" >Martes</td>
		<td class="color">Miercoles</td>
		<td class="color">Jueves</td>
		<td class="color">Viernes</td>
		<td class="color">Sabado </td>
		</tr>
		<tr>
		<td class="color">Horario</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		<td>9 a 12 - 16 a 18</td>
		</tr>
		<tr>
		<td class="color">Paseador</td>
		<td>Juan Perez</td>
		<td>Lucas Diaz</td>
		<td>Juan Perez</td>
		<td>Maria Gomez</td>
		<td>Lucas Diaz</td>
		<td>Roberto Vasquez</td>
		</tr>
		</table>
		<p>                             </p>
		</section>
		<footer th:replace= "layouts/footer :: footer"></footer>
	</body>
</html>