<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<header>
		<img src = ../static/images/petshop.png title = "Mascotitas" alt="Logo " width="900" height="300">
		<h1>MASCOTITAS</h1>
		</header>
		<nav>
		<ul type= "circle">
			<li>Inicio</li> 
			<li>Productos</li>
			<li>Consejos de salud</li>
			<li>Servicios de Paseos</li>
			<li>Sucursales</li>
			<li>Contactanos</li>
		</ul>
		</nav>
		<hr>
		<footer>Copyright 2024 - MASCOTITAS - Grupo 13 - Argentina</footer>
	</body>
</html>