<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Sucursales</title>
	</head>
	<body>
		<header>
		<img src = ../static/images/petshop.png title = "Mascotitas" alt="Logo " width="900" height="300">
		<h1>MASCOTITAS</h1>
		</header>
		<nav>
		<ul type= "circle">
			<li><a href= "index.html" > Inicio </a></li>
			<li><a  href="productos.html">Productos</a></li>
			<li><a href="consejos de salud.html">Consejos de salud</a></li>
			<li><a href="paseos.html">Servicios de Paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto.html">Contactanos</a></li>
		</ul>
		</nav>
		<section>
			<h2>Viitanos en : </h2>
			<img src="../static/images/sucursal1.jfif" title = "Mascotitas" alt="SUCURSAL 1 " width="500" height="300"> 
			<p> Dirección: Calle José Ortega y Gasset,</p>
			<h4>Horarios de Atencion</h4>
			<p>Lunes a Viernes de 8 a 14hs y de 18 a 21hs</p>
			<img src="../static/images/sucursal2.png" title = "Mascotitas" alt="SUCURSAL 2 " width="500" height="300"> 
			<p>Dirección: Calle Puerta de Granada, 19, 18690.</p>
			<h4>Horarios de Atencion</h4>
			<p>Lunes a Viernes de 8 a 12hs y de 16 a 21hs</p>
			<img src="../static/images/sucursal3.jfif" title = "Mascotitas" alt="SUCURSAL 3 " width="500" height="300"> 
			<p>Dirección: Calle Leonardo da Vinci, 7, 41092.</p>
			<h4>Horarios de Atencion</h4>
			<p>Lunes a Viernes de 10 a 14hs y de 18 a 20hs</p>
		</section>
		<hr>
		<footer>Copyright 2024 - MASCOTITAS - Grupo 13 - Argentina</footer>
	</body>
</html>