<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layouts/head :: head ('sucursales')}"></head>
	<body class="suc">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		<h2>Visitanos en : </h2>
			<section class="contenedor">
				<img th:src="@{images/sucursal1.jfif}" title = "Mascotitas" alt="SUCURSAL 1 " width="400" height="260"> 
				<h4>Horarios de Atencion</h4>
				<p class="psucursal"> Dirección: Calle José Ortega y Gasset,</p>
				<p class="psucursal">Lunes a Viernes de 8 a 14hs y de 18 a 21hs</p>
			</section>
			<section class="contenedor1">
			<img th:src="@{images/sucursal2.png}" title = "Mascotitas" alt="SUCURSAL 2 " width="400" height="260"> 
			<h4>Horarios de Atencion</h4>
			<p class="psucursal">Dirección: Calle Puerta de Granada, 19, 18690.</p>
			<p class="psucursal">Lunes a Viernes de 8 a 12hs y de 16 a 21hs</p>
			</section>
			<section class="contenedor2">
			<img th:src="@{images/sucursal3.jfif}" title = "Mascotitas" alt="SUCURSAL 3 " width="400" height="260"> 
			<h4>Horarios de Atencion</h4>
			<p class="psucursal">Dirección: Calle Leonardo da Vinci, 7, 41092.</p>
			<p class="psucursal">Lunes a Viernes de 10 a 14hs y de 18 a 20hs</p>
			</section>
		<footer class="fsucursal">Copyright 2024 - MASCOTITAS - Grupo 13 - Argentina</footer>
	</body>
</html>