/*@charset "ISO-8859-1";*/

/*generico*/

*{
	margin: 0px;
	padding: 0px;
}
header{
	background:#BCA9FA;
}
h1{
	text-align:center;
	font-style:italic;
	background:#7B5EDD;
	color:white;	
}
h2{
	font-style:italic;
	text-align:center;
	background:#9486CE;
	border:2px solid #000000;
}
h3{
	text-align:center;
	background:#9486CE;
	border:2px solid #000000;
}
h4{
	background:#9486CE;
	border:2px solid #000000;
	text-align:center;
}
h5{
	background-color:#9486CE;
	font-size:20px;
	height:50px;
}
p{
	background: white;
}
footer{
	color: white;
	background:gray;
	text-align:center;
	font-style: italic;
	height:50px;
	line-height:40px;
	word-spacing:15px;
	margin-top:70px;
}
/*INDEX*/
body{
	background-color:#DCD6F0;
	color:#000000;
}
.ulindex{
	list-style:none;
	display:flex;
	justify-content: center;
	text-align:center;
	display: inline-block;
}
li{
	padding:10px 3em;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
 	line-height: 16px;
}
nav{
	text-align:center;
	font-style:italic;
	background:#7B5EDD;
}
a{
	color:white;
}
.index{
   justify-content:left;
   width:900px;
   border:2px solid #DCD6F0;
   float:left;
   height: 270px;
   background:white;
}
aside{
   justify-content:right;
   width:351px;
   height: 270px;
   float:right;
   border:2px solid #DCD6F0;
   background:#BCA9FA;
}
.portada{
    margin: auto;
}
.portada1{
	margin:right;
}
.portada2{
	margin:left;
}
hr{
	color:#000000;
}
.footerindex{
	color: white;
	background:gray;
	text-align:center;
	font-style: italic;
	height:50px;
	line-height:40px;
	word-spacing:15px;
    margin-top:280px;
}
/* PRODUCTOOOOS*/
.hprod{
	text-align:center;
	background:#ffffff;
	margin-top:20px;
	height:25px;
	border: solid 2px #000000;
}
.prod1 , .prod2 , .prod3 , .prod4{
	width:200px;
	text-align:center;
	margin: 20px 20px 20px 60px;
	border :solid 2px #9486CE;
	height:300px;
	margin-bottom: 20px;
	background:#f2e6ff;
	border-radius: 8px;
}
.prod2{
	margin: -322px 30px 50px 370px ;
}
.prod3{
	margin: -352px 300px 50px 680px ;
}
.prod4{
	margin: -355px 30px 50px 1000px ;
}
.titulo{
		margin-top:20px;
}
#footerprod{
	margin-top:-20px;
}

/*CONSEJOOOOOOOS*/
#consejos{
	margin-left:170px;
	margin-top:50px;
	margin-bottom:30px;
}

.conse{
	width:29%;
	border: solid 2px #000000;
	border-radius:5px;
	margin-left:10px;
	text-align:center;
	margin-left:45px;
	height:130px;
}
.conse2{
	width:29%;
	border: solid 2px #000000;
	border-radius:5px;
	margin-left:10px;
	text-align:center;
	margin:auto;
	margin-top:-133px;
	height:130px;
}
.conse3{
	width:29%;
	border: solid 2px #000000;
	border-radius:5px;
	text-align:center;
	margin-left:850px;
	margin-top:-133px;
	height:130px;
}
.conse4{
	width:1170px;
	margin:auto;
	border: solid 2px #000000;
	border-radius:5px;
	text-align:center;
	margin-top:20px;
}
.contconsejos{
	height :100 px;
	width:100%;
	margin-top:20px;
}
.conse4h{
	height:30px;
}
#footerc{
	margin-top:20px;
}
/*PASEOOOOO*/
.paseo{
	font-style:italic;
	height:auto;
}

.paseos{
	margin-top:20px;
}
table{
	margin:auto;
	margin-top:20px;
	width:1200px;
	height:200px;
	text-align:center;
}
.color{
	background:#7B5EDD;
	border-color:#000000;
	color:white;
	font-size: 25px;
}
/*SUCURSALEEEES*/

.contenedor , .contenedor1 , .contenedor2{
	height:325px;
	width:400px;
	margin-left:10px;
	margin-top:20px;
	border:solid 2px #000000;
}
.contenedor1{
	margin: -328px 10px 50px 430px ;
}
.contenedor2{
	margin: -378px 10px 50px 850px ;
}
.fsucursal{
	margin-top:-30px;
}
/*CONTACTOOOOOOOS*/
.con{
	border:4px solid #000000;
	border-radius: 10px;
	margin: 0 auto;
    text-align: center;
    width:520px;
    height:380px;
    vertical-align:middle;
    background:#9486CE;
    color :white;
}
.acontactos{
	color:white;
	text-align:center;
	background:#9486CE;
}
.lista{
	text-align:center;
	background:#9486CE;
}
.pcontacto{
	background:#9486CE;
    color :white;
}
button{
	width:100px;
	height:30px;
	border:2px solid #000000;
	border-radius:10px;
	background:#7B5EDD;
	color:white;
}
input{
	background:white;
	margin-top:5px;
}
.footercontacto{
	margin-top:20px;
}	
/*Nuevo Productooooooo */

form {
	background:#7B5EDD;
	margin: 0 auto;
	border: 3px solid #000000;
	border-radius: 3px;
	text-align: center;
    width:420px;
    height:280px;
    vertical-align:middle;
	    margin-top:30px;
}
/*listado productooos*/
.link{
	background:#ffffff;
	color:#000000;
	border: 2px solid;
	width:200px;
	height:30px;
	margin-right:100px;
	margin-left:300px;
}

